body {
    background-color: #2E8B57;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B4D2BA;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: DF2935;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}